/* @font-face {
    font-family: ;
    src: url();
} */

@font-face{
    font-family: 'Gilroy';
    src: url(./assets/Gilroy-Regular.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
    user-select: none;
    /* cursor: none; */
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #151515;
    overflow-x: hidden;
}

.mousefollower{
    border: 2px solid #fff;
    background-color: #fff;
    scale: 2;
    mix-blend-mode: difference;
}

#loader{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 8rem 4rem;
}

#loader .line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#loading-time{
    display: flex;
    gap: 1rem;
    font-style: italic;
}

#loading-time h5{
    font-size: 3rem;
    width: 5rem;
    text-align: end;
}

#loading-time span{
    font-size: 3rem;
}

#loader .line h1{
    font-size: 5.5rem;
    text-transform: uppercase;
}

#loader .line h2{
    font-size: 5.5rem;
    text-transform: uppercase;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
}

@keyframes nowAnime {
    0%{
        font-family: "Gilroy";
        -webkit-text-stroke: 2px #fff;
        color: #fff;
        opacity: 1;
    }
    48%{
        font-family: "Gilroy";
        -webkit-text-stroke: 2px #fff;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: "Arial";
        font-style: italic;
        -webkit-text-stroke: 2px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "Arial";
        font-style: italic;
        -webkit-text-stroke: 2px #fff;
        color: transparent;
        opacity: 0;
    }
}

#page1{
    min-height: 100vh;
    width: 100%;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
}

#nav-links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#nav-links a{
    text-decoration: none;
    font-size: 1rem;
}

#page1 #center-lines{
    width: fit-content;
    margin: auto;
}

#page1 #center-lines .line{
    overflow-y: hidden;
}

#page1 #center-lines .line h1{
    font-size: 5.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

#page1 #center-lines #line3 span{
    transition: all 0.5s;
    text-decoration: underline #fff 0.5rem;
    text-underline-offset: 0.7rem;
}

#page1 #center-lines #line3 span:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    text-decoration: none;
}

#page2{
    position: relative;
    height: 100vh;
    width: 100%;
}

#page2 #video-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 26rem;
    width: 55rem;
}

#page2 #video-container img{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#page2 #video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2 #video-container #video-cursor{
    position: absolute;
    z-index: 3;
    height: 7rem;
    width: 7rem;
    background-color: #ffa63d;
    border-radius: 50%;
    left: 70%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 #video-container #video-cursor i{
    font-size: 1.5rem;
}

#page3{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

#page3 .main-heading{
    position: relative;
    font-size: 6rem;
    margin-left: 25rem;
    text-transform: uppercase;
}

#page3 .main-heading::before{
    content: "02";
    position: absolute;
    left: -10%;
    top: 5%;
    font-weight: 500;
    font-size: 3rem;
    font-style: italic;
}

#page3 .line{
    width: 65%;
    height: 2px;
    background-color: #dadada;
    margin: 2rem 0 2rem 25rem;
}

#page3 .cards-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 2rem 0 3rem;
    position: relative;
    gap: 5rem;
}

#page3 .cards-container .card{
    position: relative;
    height: 30rem;
    width: 22rem;
    background-color: pink;
    /* overflow: hidden; */
    flex-shrink: 0;
}

#page3 .cards-container .card:nth-child(1){
    height: 25rem;
    width: 18rem;
}

#page3 .cards-container .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#page3 .cards-container .card img:nth-child(2){
    z-index: -1;
}

#page3 .circle-card{
    position: relative;
    overflow: hidden;
    height: 20rem;
    width: 20rem;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5rem;
}

#page3 .circle-card svg{
    max-height: 100%;
    max-width: 100%;
}

#page3 .circle-card:nth-child(4) svg{
    transform: rotate(-50deg);
}

#page3 .circle-card .inner-circle{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 0;
    padding: 1.4rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
}

#page3 .circle-card .inner-circle p{
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    transform: scale(0);
    opacity: 0;
    transition: 0.5s 0.5s;
}

#page3 .circle-card:hover .inner-circle{
    transform: scale(1);
}

#page3 .circle-card .inner-circle:hover p{
    transform: scale(1);
    opacity: 1;
}

#page4{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

#page4 .main-heading{
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    /* background-color: pink; */
    width: fit-content;
    margin-left: 21rem;
}

#page4 .main-heading::before{
    content: "03";
    font-size: 3rem;
    font-style: italic;
    position: absolute;
    left: 20%;
    top: 0%;
    font-weight: 500;
}

#page4 .line{
    width: 68%;
    height: 2px;
    background-color: #fff;
    position: relative;
    left: 27%;
}

#page4 .main-content{
    width: 68%;
    position: relative;
    left: 27%;
    padding-top: 3rem;
    font-size: 2rem;
    width: 35%;
}

#page4 .info-container{
    /* background-color: pink; */
    display: flex;
    gap: 2rem;
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    margin-left: 5rem;
}

#page4 .info-container img{
    height: 32rem;
}

#page4 .info-container .content{
    width: 25.5%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#page4 .info-container .content p{
    font-size: 1rem;
}

#page4 #floating-card{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateY(-10rem);
    bottom: 300%;
    height: fit-content;
    padding: 2rem 3rem;
    width: 35rem;
    background-color: #3F7DF4;
    z-index: 2;
}

#page4 #floating-card h2{
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page4 #floating-card h2 span:nth-child(1){
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem 0;
}

#page4 #floating-card h2 span:nth-child(2){
    font-size: 1rem;
    font-weight: 500;
}

#page4 h3{
    font-size: 1rem;
    padding: 1rem 0;
    position: relative;
    left: 27%;
    font-weight: 500;
}

#page5{
    min-height: 100vh;
    width: 100%;
    padding: 5rem 0;
}

#page5 .row{
    overflow: hidden;
}

#page5 .row .line{
    display: flex;
    align-items: center;
    gap: 2rem;
    text-wrap: nowrap;
    animation: marqueeTextAnime 8s infinite linear;
}

#page5 .row:nth-child(2n) .line {
    animation: marqueeTextAnime 8s infinite linear reverse;
}

#page5 .row h2{
    font-size: 6.2rem;
    -webkit-text-stroke: 2px #dadada;
    color: transparent;
    font-weight: 100;
    text-transform: uppercase;
    flex-shrink: 0;
}

#page5 .row .dash{
    height: 0.5rem;
    width: 5rem;
    border: 2px solid #dadada;
    flex-shrink: 0;
}

@keyframes marqueeTextAnime {
    from{
        transform: translateX(0%);
    }to{
        transform: translateX(-30%);
    }
}

footer{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: end;
}

footer .content{
    /* background-color: pink; */
    width: 75%;
    padding-right: 5rem;
}

footer .main-heading{
    font-size: 6rem;
    text-transform: uppercase;
    height: fit-content;
    position: relative;
}

footer .main-heading::before{
    content: "04";
    font-size: 3rem;
    font-style: italic;
    position: absolute;
    left: -10%;
    top: 5%;
    font-weight: 500;
}

footer .main-heading i{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

footer .content .line{
    width: 100%;
    height: 2px;
    background-color: #dadada;
    margin: 1rem 0;
}

footer .content .links-container{
    padding: 2rem 3rem 5rem 0;
    display: flex;
    justify-content: space-between;
}

footer .content .links-container .card{
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    width: fit-content;
}

footer .content .links-container .card h3{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

footer .content .links-container .card a,p{
    font-size: 1.5rem;
    text-decoration: none;
}

footer .copyright{
    font-size: 1rem;
    padding: 1rem 0 3rem 0;
}