/* @font-face {
    font-family: ;
    src: url();
} */

@font-face{
    font-family: 'Gilroy';
    src: url(./assets/Gilroy-Regular.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
    user-select: none;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #151515;
}

#cursor{
    position: absolute;
    height: 2rem;
    width: 2rem;
    border: 1px solid #dadada;
    border-radius: 50%;
    z-index: 999;
    mix-blend-mode: difference;
    /* transform: translate(-50%, -50%); */
    display: none;
}

#loader{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 8rem 4rem;
}

#loader .line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#loading-time{
    display: flex;
    gap: 1rem;
    font-style: italic;
}

#loading-time h5{
    font-size: 3rem;
    width: 5rem;
    text-align: end;
}

#loading-time span{
    font-size: 3rem;
}

#loader .line h1{
    font-size: 5.5rem;
    text-transform: uppercase;
}

#loader .line h2{
    font-size: 5.5rem;
    text-transform: uppercase;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
}

@keyframes nowAnime {
    0%{
        font-family: "Gilroy";
        -webkit-text-stroke: 2px #fff;
        color: #fff;
        opacity: 1;
    }
    48%{
        font-family: "Gilroy";
        -webkit-text-stroke: 2px #fff;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: "Arial";
        font-style: italic;
        -webkit-text-stroke: 2px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "Arial";
        font-style: italic;
        -webkit-text-stroke: 2px #fff;
        color: transparent;
        opacity: 0;
    }
}

#page1{
    min-height: 100vh;
    width: 100%;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
}

#nav-links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#nav-links a{
    text-decoration: none;
    font-size: 1rem;
}

#page1 #center-lines{
    width: fit-content;
    margin: auto;
}

#page1 #center-lines .line{
    overflow: hidden;
}

#page1 #center-lines .line h1{
    font-size: 5.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

#page1 #center-lines #line3 span{
    transition: all 0.5s;
    text-decoration: underline #fff 0.5rem;
    text-underline-offset: 0.7rem;
}

#page1 #center-lines #line3 span:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    text-decoration: none;
}

#page2{
    position: relative;
    height: 100vh;
    width: 100%;
}

#page2 #video-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 26rem;
    width: 55rem;
}

#page2 #video-container img{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#page2 #video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2 #video-container #video-cursor{
    position: absolute;
    z-index: 3;
    height: 7rem;
    width: 7rem;
    background-color: #ffa63d;
    border-radius: 50%;
    left: 70%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 #video-container #video-cursor i{
    font-size: 1.5rem;
}

#page3{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

#page4{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

#page4 .main-heading{
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#page4 .line{
    width: 68%;
    height: 2px;
    background-color: #fff;
    position: relative;
    left: 27%;
}

#page4 .main-content{
    width: 68%;
    position: relative;
    left: 27%;
    padding-top: 3rem;
    font-size: 2rem;
    width: 35%;
}

#page4 .info-container{
    /* background-color: pink; */
    display: flex;
    gap: 2rem;
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    margin-left: 5rem;
}

#page4 .info-container img{
    height: 32rem;
}

#page4 .info-container .content{
    width: 25.5%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#page4 .info-container .content p{
    font-size: 1rem;
}

#page4 #floating-card{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateY(-10rem);
    bottom: 300%;
    height: fit-content;
    padding: 2rem 3rem;
    width: 35rem;
    background-color: #3F7DF4;
    z-index: 2;
}

#page4 #floating-card h2{
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page4 #floating-card h2 span:nth-child(1){
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem 0;
}

#page4 #floating-card h2 span:nth-child(2){
    font-size: 1rem;
    font-weight: 500;
}

#page4 h3{
    font-size: 1rem;
    padding: 1rem 0;
    position: relative;
    left: 27%;
    font-weight: 500;
}