/* @font-face {
    font-family: ;
    src: url();
} */

@font-face{
    font-family: 'Gilroy';
    src: url(./assets/Gilroy-Regular.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
    user-select: none;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #0b0b0b;
}

#cursor{
    position: absolute;
    height: 2rem;
    width: 2rem;
    border: 1px solid #dadada;
    border-radius: 50%;
    z-index: 999;
    mix-blend-mode: difference;
    /* transform: translate(-50%, -50%); */
    display: none;
}

#loader{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 8rem 4rem;
}

#loader .line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#loading-time{
    display: flex;
    gap: 1rem;
    font-style: italic;
}

#loading-time h5{
    font-size: 3rem;
    width: 5rem;
    text-align: end;
}

#loading-time span{
    font-size: 3rem;
}

#loader .line h1{
    font-size: 5.5rem;
    text-transform: uppercase;
}

#loader .line h2{
    font-size: 5.5rem;
    text-transform: uppercase;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
}

@keyframes nowAnime {
    0%{
        font-family: "Gilroy";
        -webkit-text-stroke: 2px #fff;
        color: #fff;
        opacity: 1;
    }
    48%{
        font-family: "Gilroy";
        -webkit-text-stroke: 2px #fff;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: "Arial";
        font-style: italic;
        -webkit-text-stroke: 2px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "Arial";
        font-style: italic;
        -webkit-text-stroke: 2px #fff;
        color: transparent;
        opacity: 0;
    }
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
}

#nav-links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#nav-links a{
    text-decoration: none;
    font-size: 1rem;
}

#page1 #center-lines{
    width: fit-content;
    margin: auto;
}

#page1 #center-lines .line{
    overflow: hidden;
}

#page1 #center-lines .line h1{
    font-size: 5.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

#page1 #center-lines #line3 span{
    transition: all 0.5s;
}

#page1 #center-lines #line3 span:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
}